a, .colored, .previous a:hover, .next a:hover, .list, #content h1, #content h2, #sidebar ul li div.yd_rp_widget ul li p a  {
	color:#f02311;
}
.list {
	list-style-image: url("../images/common/bullet_red.jpg");
}
h1 a:hover {
	color:#f02311;
}
